# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.Rproj.user/94995FFA/sdb/s-EBB91C11/E172A004
.Rproj.user/94995FFA/sdb/s-EBB91C11/B59DF434
*.zip
exdata-data-NEI_data/Source_Classification_Code.rds
*.rds
*.Rproj
.Rproj.user/94995FFA/sdb/s-EBB91C11/lock_file
.Rproj.user/94995FFA/sdb/s-EBB91C11/FF6DB58E
.Rproj.user/94995FFA/sdb/s-EBB91C11/A3F3E196
.Rproj.user/94995FFA/sdb/s-EBB91C11/B4267556
.Rproj.user/94995FFA/sdb/s-EBB91C11/A01EE508
.Rproj.user/94995FFA/sdb/prop/INDEX
.Rproj.user/94995FFA/sdb/prop/E8AD0B00
.Rproj.user/94995FFA/sdb/prop/C121E751
*.Rhistory
*.pper
.Rproj.user/94995FFA/sdb/prop/1EE0B33F
.Rproj.user/94995FFA/sdb/prop/23867399
.Rproj.user/94995FFA/sdb/prop/63CD332
.Rproj.user/94995FFA/sdb/prop/A9F7133
.Rproj.user/94995FFA/sdb/prop/BAF9E77B
.Rproj.user/94995FFA/sdb/per/t/A01EE508
.Rproj.user/94995FFA/sdb/per/t/A3F3E196
.Rproj.user/94995FFA/sdb/per/t/B4267556
.Rproj.user/94995FFA/sdb/per/t/B59DF434
.Rproj.user/94995FFA/sdb/per/t/E172A004
.Rproj.user/94995FFA/sdb/per/t/FF6DB58E
.Rproj.user/94995FFA/sdb/prop/12ACCF48
.Rproj.user/94995FFA/sdb/prop/A102920D
